*.dta_dta_ps3
*.dta_dta_ps4
*.script_dta_ps3
*.script_dta_ps4
*.hdr
*.ark
_build/modulate/ps3
_build/modulate/ps4
_ark/ps3/config/init.dta
_ark/ps3/ui/locale/eng/locale_updates_keep.dta
_ark/ps4/config/init.dta
_ark/ps4/ui/locale/eng/locale_updates_keep.dta
_ark/ps4/songs
_ark/ps3/songs
_ark/combined/songs ! !PLACE CUSTOM SONGS HERE.txt
amp-2016-customs/*
_ark/ps3/songs/*